@import "normalize.css";
@import "fonts.css";
@import "header.css";

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
  color: white;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.Technology-section .container {
  flex-direction: column;
  align-content: center;
}

.Technology-section-header-and-image {
  display: flex;
  flex-direction: column;
}

.Technology-section-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  width: 100%;
  height: 170px;
}

.Technology-nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.Technology-nav-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  border: 1px solid #2d2e30;
  color: #2d2e30;
}

.Technology-nav-link:hover {
  border: 0;
  opacity: 1;
  color: #0B0D17;
  background-color: white;
  transition: 0.4s;
}

.Technology-nav-active {
  border: 0;
  opacity: 1;
  color: #0B0D17;
  background-color: white;
}

.Technology-section-description {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.Technology-section-description h2 {
  text-transform: uppercase;
}



h6, h5, h2, p{
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

/* for Desktop */

@media (width>=992px) {
  body {
    max-width: 1440px;
    height: 900px;;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .Technology-section {
    margin-top: 30px;
    padding-left: 8.5%;
  }

  .Technology-section .container {
    flex-direction: row-reverse;
    position: relative;
    padding-left: 100px;
  }
  
  h6 {
    position: absolute;
    left: 0;
    padding-left: 10px;
  }
  
  .Technology-section-image {
    background-image: url("../assets/technology/image-launch-vehicle-portrait.jpg");
    background-size: cover;
    width: 450px;
    height: 450px;
  }
  
  .Technology-nav {
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 0%;
    top: 25%;
    margin-top: 0;
  }
  
  .Technology-nav a {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
  }
  
  .Technology-section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }

  .Technology-section-description h5 {
    margin-bottom: 10px;
    padding-left: 2px;
  }

  .Technology-section-description h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h6, h5, h2, p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }
}